<h1>Stupid Coaching</h1>

<form action="/answer" method="get">
  <label for="question">Ask your coach anything</label>
  <input type="text" id="question" name="question" placeholder="Ask coach">
  <input type="submit" value="Ask!">
</form>
